# VC funding with Deep Learning 

Here we will predict whether an applicant will be successful if funded by a VC-firm. 
<br>
 Our dataset consists of over 34,000 organizations that are funded by a VC-firm. We will use Machine learning and neural networks to create a binary classifier model that will predict whether an applicant will be successful.

In [1]:
#Imports 
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
#Data
df = pd.read_csv('vc_funding.csv')

In [3]:
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [6]:
#dropping EIN and NAME columns
df = df.drop(['EIN','NAME'], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
#Encoding the categorical variables using OneHotEncoder

cat_var = list(df.dtypes[df.dtypes=='object'].index)

In [9]:
cat_var

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
enc = OneHotEncoder(sparse=False)

In [11]:
encoded_data = enc.fit_transform(df[cat_var])

In [12]:
#creating a dataframe with encoded categorical variables

encoded_df= pd.DataFrame(encoded_data, columns=enc.get_feature_names_out(cat_var) )

In [13]:
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
#concatenating numerical data with encoded_df 

encoded_df= pd.concat([df.drop(columns= cat_var), encoded_df], axis=1)

In [15]:
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
#creating matrix of features(X) and dependent variable vector(y)

X= encoded_df.drop(['IS_SUCCESSFUL'], axis=1)
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
y = encoded_df['IS_SUCCESSFUL']

In [18]:
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [19]:
# splitting the dataset into training and test set

X_train, X_test, y_train, y_test= train_test_split(X,y,test_size= 0.3, random_state=1)

In [20]:
#Using StandardScaler to scale the features

scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

#fit caler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Binary Classification Model using a Neural Network

We will create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras. We will start with a two-layer deep neural network model that uses relu activation function for both layers.

In [21]:
#Defining the number of input features to the model
input_features = len(X_train.iloc[0])

In [23]:
input_features

116

In [24]:
#Defining number of hidden nodes for the first hidden layer 
hidden_nodes_layer1= 8

In [26]:
#Defining number of hidden nodes for the second hidden layer 
hidden_nodes_layer2= 8

In [27]:
hidden_nodes_layer2

8

In [29]:
#creating Sequential model instance
nn = Sequential()

In [31]:
#Adding first hidden layer 
nn.add(Dense(units = hidden_nodes_layer1, input_dim = input_features, activation = "relu"))

In [34]:
#Adding second hidden layer 
nn.add(Dense(units = hidden_nodes_layer2, input_dim = input_features, activation = "relu"))

In [35]:
# Define the number of neurons in the output layer
output_neurons = 1

In [36]:
# Adding output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=output_neurons, activation = "linear"))

In [37]:
#Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 8)                 72

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,089
Trainable params: 1,089
Non-trainable params: 0
_________________________________________________________________

## Compiling and fitting the model

In [38]:
#compile sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics= ['accuracy'])

In [39]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
751/751 [==============================] - 4s 3ms/step - loss: 0.8723 - accuracy: 0.6475
Epoch 2/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6925 - accuracy: 0.7152
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6301 - accuracy: 0.7225
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6165 - accuracy: 0.7254
Epoch 5/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6141 - accuracy: 0.7275
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6194 - accuracy: 0.7264
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6296 - accuracy: 0.7213
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6113 - accuracy: 0.7205
Epoch 9/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5998 - accuracy: 0.7270
Epoch 10/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5988 - accuracy: 0.7289
Epoch 11/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5965 - accuracy: 0.7284
Epoch 12/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5959 - accuracy: 0.7304
Epoch 13/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5953 - accuracy: 0.7284
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5989 - accuracy: 0.7281
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6005 - accuracy: 0.7304
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5951 - accuracy: 0.7302
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6002 - accuracy: 0.7290
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5873 - accuracy: 0.7294
Epoch 19/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5817 - accuracy: 0.7281
Epoch 20/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5877 - accuracy: 0.7232
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5789 - accuracy: 0.7310
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5792 - accuracy: 0.7312
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5789 - accuracy: 0.7312
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5759 - accuracy: 0.7301
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5778 - accuracy: 0.7310
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5818 - accuracy: 0.7297
Epoch 27/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5782 - accuracy: 0.7316
Epoch 28/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5783 - accuracy: 0.7306
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5759 - accuracy: 0.7309
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5743 - accuracy: 0.7316
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5693 - accuracy: 0.7321
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7316
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5723 - accuracy: 0.7296
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5712 - accuracy: 0.7327
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7317
Epoch 36/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5811 - accuracy: 0.7294
Epoch 37/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5727 - accuracy: 0.7325
Epoch 38/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7330
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5752 - accuracy: 0.7316
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7331
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5739 - accuracy: 0.7320
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5716 - accuracy: 0.7340
Epoch 43/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5711 - accuracy: 0.7321
Epoch 44/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7316
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5664 - accuracy: 0.7330
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5670 - accuracy: 0.7324
Epoch 47/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7320
Epoch 48/50
751/751 [==============================] - 2s 2ms/step - loss: 0.5662 - accuracy: 0.7334
Epoch 49/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5646 - accuracy: 0.7326
Epoch 50/50
751/751 [==============================] - 1s 2ms/step - loss: 0.5733 - accuracy: 0.7248

## Evaluating the model's loss and accuracy

In [40]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - loss: 0.5855 - accuracy: 0.7265 - 859ms/epoch - 3ms/step
Loss: 0.5855358839035034, Accuracy: 0.7265306115150452

## Optimizing the Neural Network model

In [41]:
# Defining the the number of input features to the model
input_features = len(X_train.iloc[0])

In [42]:
input_features

116

In [43]:
# Defining the number of neurons in the output layer
output_neurons_A1 = 1

In [44]:
# Defining the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

In [45]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [47]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim =input_features, activation = "relu"))

# Output layer
nn_A1.add(Dense(units = output_neurons_A1, activation = "linear"))

# model summary
nn_A1.summary

In [48]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [49]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
751/751 [==============================] - 3s 3ms/step - loss: 4.9672 - accuracy: 0.4841
Epoch 2/50
751/751 [==============================] - 1s 2ms/step - loss: 2.3806 - accuracy: 0.5517
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 2.1530 - accuracy: 0.5748
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 1.9402 - accuracy: 0.6177
Epoch 5/50
751/751 [==============================] - 1s 2ms/step - loss: 1.4644 - accuracy: 0.6516
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2084 - accuracy: 0.6804
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1498 - accuracy: 0.6889
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1539 - accuracy: 0.6929
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1451 - accuracy: 0.6870
Epoch 10/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1806 - accuracy: 0.6861
Epoch 11/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1480 - accuracy: 0.6980
Epoch 12/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1531 - accuracy: 0.7018
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1876 - accuracy: 0.6982
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1986 - accuracy: 0.7005
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 1.5493 - accuracy: 0.6860
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 1.4131 - accuracy: 0.6756
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1992 - accuracy: 0.7013
Epoch 18/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1686 - accuracy: 0.7025
Epoch 19/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1775 - accuracy: 0.7012
Epoch 20/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1890 - accuracy: 0.7022
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 1.3827 - accuracy: 0.6826
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 1.5809 - accuracy: 0.6799
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 1.5953 - accuracy: 0.6790
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 1.6392 - accuracy: 0.6597
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 1.5169 - accuracy: 0.6768
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 1.5098 - accuracy: 0.6808
Epoch 27/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2883 - accuracy: 0.6881
Epoch 28/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1533 - accuracy: 0.7007
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2650 - accuracy: 0.6822
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1568 - accuracy: 0.7001
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1394 - accuracy: 0.7022
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1406 - accuracy: 0.6948
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1224 - accuracy: 0.7016
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1320 - accuracy: 0.7035
Epoch 35/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1475 - accuracy: 0.7003
Epoch 36/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1690 - accuracy: 0.6940
Epoch 37/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2952 - accuracy: 0.6878
Epoch 38/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2634 - accuracy: 0.6831
Epoch 39/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1744 - accuracy: 0.6790
Epoch 40/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1454 - accuracy: 0.6962
Epoch 41/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1434 - accuracy: 0.6958
Epoch 42/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1372 - accuracy: 0.7007
Epoch 43/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1318 - accuracy: 0.6941
Epoch 44/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1104 - accuracy: 0.7037
Epoch 45/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1076 - accuracy: 0.7035
Epoch 46/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1281 - accuracy: 0.6955
Epoch 47/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1243 - accuracy: 0.7046
Epoch 48/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1125 - accuracy: 0.7029
Epoch 49/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1049 - accuracy: 0.7061
Epoch 50/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1278 - accuracy: 0.7022

In [50]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
322/322 - 1s - loss: 0.5855 - accuracy: 0.7265 - 636ms/epoch - 2ms/step
Loss: 0.5855358839035034, Accuracy: 0.7265306115150452

In [51]:
print("Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Model 1 Results
322/322 - 1s - loss: 1.1344 - accuracy: 0.6800 - 699ms/epoch - 2ms/step
Loss: 1.1344249248504639, Accuracy: 0.6799805760383606

In [52]:
#Model-2

# Defining the the number of input features to the model
input_features = len(X_train.iloc[0])

In [53]:
# Defining the number of neurons in the output layer
output_neurons_A2 = 2

In [54]:
# Defining the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

In [55]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [56]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim =input_features, activation = "relu"))

# Output layer
nn_A2.add(Dense(units = output_neurons_A2, activation = "linear"))

# model summary
nn_A2.summary

In [57]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [58]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
751/751 [==============================] - 3s 3ms/step - loss: 2.0561 - accuracy: 0.4774
Epoch 2/50
751/751 [==============================] - 2s 2ms/step - loss: 1.3886 - accuracy: 0.4791
Epoch 3/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2906 - accuracy: 0.5035
Epoch 4/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2601 - accuracy: 0.5226
Epoch 5/50
751/751 [==============================] - 2s 2ms/step - loss: 1.2655 - accuracy: 0.5143
Epoch 6/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2401 - accuracy: 0.4970
Epoch 7/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2100 - accuracy: 0.4925
Epoch 8/50
751/751 [==============================] - 1s 2ms/step - loss: 1.1552 - accuracy: 0.4982
Epoch 9/50
751/751 [==============================] - 1s 2ms/step - loss: 1.2497 - accuracy: 0.5313
Epoch 10/50
751/751 [==============================] - 1s 2ms/step - loss: 1.0992 - accuracy: 0.5262
Epoch 11/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9831 - accuracy: 0.5331
Epoch 12/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9420 - accuracy: 0.4737
Epoch 13/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9450 - accuracy: 0.4897
Epoch 14/50
751/751 [==============================] - 1s 2ms/step - loss: 1.3657 - accuracy: 0.4340
Epoch 15/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9280 - accuracy: 0.4420
Epoch 16/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9503 - accuracy: 0.4998
Epoch 17/50
751/751 [==============================] - 1s 2ms/step - loss: 0.9078 - accuracy: 0.5244
Epoch 18/50
751/751 [==============================] - 2s 3ms/step - loss: 0.9098 - accuracy: 0.5120
Epoch 19/50
751/751 [==============================] - 2s 3ms/step - loss: 0.8779 - accuracy: 0.5226
Epoch 20/50
751/751 [==============================] - 2s 3ms/step - loss: 0.7994 - accuracy: 0.5183
Epoch 21/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7886 - accuracy: 0.4880
Epoch 22/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7693 - accuracy: 0.5405
Epoch 23/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7599 - accuracy: 0.5034
Epoch 24/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7757 - accuracy: 0.5000
Epoch 25/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7755 - accuracy: 0.5222
Epoch 26/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7639 - accuracy: 0.5204
Epoch 27/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7804 - accuracy: 0.5040
Epoch 28/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7897 - accuracy: 0.4839
Epoch 29/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7556 - accuracy: 0.4687
Epoch 30/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7215 - accuracy: 0.4683
Epoch 31/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7069 - accuracy: 0.4844
Epoch 32/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7239 - accuracy: 0.5346
Epoch 33/50
751/751 [==============================] - 1s 2ms/step - loss: 0.7120 - accuracy: 0.5373
Epoch 34/50
751/751 [==============================] - 1s 2ms/step - loss: 0.6946 - accuracy: 0.5778
Epoch 35/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6783 - accuracy: 0.5204
Epoch 36/50
751/751 [==============================] - 2s 2ms/step - loss: 0.7125 - accuracy: 0.4794
Epoch 37/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6887 - accuracy: 0.5037
Epoch 38/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6832 - accuracy: 0.4858
Epoch 39/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6734 - accuracy: 0.5002
Epoch 40/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6612 - accuracy: 0.4773
Epoch 41/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6650 - accuracy: 0.4832
Epoch 42/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6550 - accuracy: 0.5176
Epoch 43/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6391 - accuracy: 0.5181
Epoch 44/50
751/751 [==============================] - 2s 3ms/step - loss: 0.6967 - accuracy: 0.5230
Epoch 45/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6671 - accuracy: 0.4693
Epoch 46/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6627 - accuracy: 0.4594
Epoch 47/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6653 - accuracy: 0.4446
Epoch 48/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6547 - accuracy: 0.4506
Epoch 49/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6554 - accuracy: 0.4463
Epoch 50/50
751/751 [==============================] - 2s 2ms/step - loss: 0.6693 - accuracy: 0.5494

In [59]:
print("Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Model 2 Results
322/322 - 1s - loss: 0.6934 - accuracy: 0.6131 - 819ms/epoch - 3ms/step
Loss: 0.6933895349502563, Accuracy: 0.6131195425987244